.footer-container {
    margin: 100px 0px;
    color: #263238;
}

.up-footer {
    background-color: #F5F7FA;
    text-align: center;
    padding: 20px;   
}

.black-footer {
    background-color: #263238;
    color: #F5F7FA;
    display: flex;
    justify-content: space-between;

}

.black-footer a {
    color: #F5F7FA;
    text-decoration: none;
}

.company-col, .support-col {
    display: flex;
    flex-direction: column;
    line-height: 24px;
}