
.container {
    background-color: #F5F7FA;
    display: flex;
    justify-content: space-around;
}

.text {
    margin: 50px 0px;
    padding: 0px 10px;
    color: #4D4D4D;
}
.green-text {
    color: #4CAF4F;
}

div h1 {
    line-height: 20px;
}

.text p {
    font-size: small;
}

.text button {
    background-color: #4CAF4F;
    color: white;
    border-style: none;
    padding: 10px 20px;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #51bb55;
}


.banner-image {
    padding: 20px 40px;
}

.banner-image img {
    width: 280px;
    height: 270px;
}

